@font-face {
    font-family: "Satoshi";
    src: url("/fonts/satoshi-variable.woff2") format("woff2");
    font-weight: 300 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Familjen Grotesk";
    src: url("/fonts/familjen-grotesk-variable.woff2") format("woff2");
    font-weight: 400 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Sentient";
    src: url("/fonts/sentient-400.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Synonym";
    src: url("/fonts/synonym-400.woff2") format("woff2");
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}
